Django==5.2.*
psycopg2-binary==2.9.*
python-dotenv==1.1.*
selenium==4.31.*
fake-useragent==2.2.*
openai==1.76.*
langchain-openai==0.3.*
django-rest-framework==0.1.*
celery==5.5.*
redis==5.0.*
pgvector==0.4.*
langchain-cohere==0.4.*
djangorestframework-api-key==3.1.*
pandas==2.3.*
pymongo==4.13.*
channels==4.2.*
channels-redis==4.2.*
daphne==4.2.*
dj-database-url==2.1.*
whitenoise==6.6.*
gunicorn==21.2.* 