{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8"/>
    <title>資料獵人 - DataHunter</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- 左側側欄 -->
<div class="sidebar">
    <div class="section logo">
        <h2>📑 資料獵人 - DataHunter</h2>
    </div>

    <div class="section">
        <label for="source-select">資料來源</label>
        <select id="source-select" class="dropdown">
            <option>健保資料</option>
            <option>疾病通報</option>
            <option>開放API</option>
        </select>
    </div>

    <div class="section description">
        <p><strong>說明：</strong></p>
        {% block source-description %}{% endblock %}
    </div>
    <div class="section description">
        <p><strong>注意事項：</strong></p>
        <p>本網站資料來源皆為使用爬蟲爬取之網路公開資料，請勿使用於商業用途，本網站僅用於教學、練習使用。</p>
    </div>
</div>


<!-- 主內容區 -->
<div class="main-content">
    <div class="header">
        {% block source-name %}{% endblock %}
        <label>
            <input type="text" placeholder="過濾器" style="flex: 2;"/>
        </label>
        <button class="btn">搜尋</button>
    </div>

    <!-- 資料呈現區塊 -->
    <div class="data-table">
        {% block data-table %}{% endblock %}
    </div>

</div>
</body>
</html>
